.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  text-align: left;
  gap: 0.5rem;
  color: #213547;
  border-radius: var(--action-border-radius);
  border: var(--action-border-width) var(--action-border-type)
    var(--action-border-color);
  background-color: var(--action-background);
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
}

.option {
  list-style: none;
  padding: 8px;
  border-radius: var(--action-border-radius);
  cursor: default;
}

.option:hover {
  background-color: hsl(from var(--action-background) h s calc(l * 1.1));
}

.highlighted {
  background-color: var(--action-background);
}

.selected:not(.highlighted) {
  background-color: hsl(from var(--action-background) h s calc(l * 0.95));
}

.listbox {
  box-sizing: border-box;
  padding: 6px;
  margin: 12px 0;
  border-radius: var(--action-border-radius);
  overflow: auto;
  outline: 0;
  min-width: 100%;
  height: 200px;
  background-color: hsl(from var(--action-background) h s calc(l * 0.98));
  border: var(--action-border-width) var(--action-border-type)
    hsl(from var(--action-border-color) h s calc(l * 0.98));
}
