.picker {
  box-sizing: content-box;
  background: var(--action-background-color);
  border: none;
  border-radius: var(--action-border-radius);
  padding: 6px;
  position: relative;
}

.picker::-webkit-color-swatch {
  border-radius: var(--action-border-radius);
  border: none;
  padding: 0;
  margin: 0;
}

.picker::-webkit-color-swatch-wrapper {
  padding: 0;
  margin: 0;
}
