img {
  image-rendering: pixelated;
}

.app {
  display: grid;
  grid-template-columns: [sidebar] 1fr [main] 3fr;
  width: 100vw;
}

.sidebar {
  position: sticky;
  top: 0;
  display: grid;
  gap: 1rem;
  height: fit-content;
  padding: 2rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 2rem;
  border-left: 2px solid rgb(236 236 236);
}
