:root {
  --base-hue: 212;
  --base-color: hsl(var(--base-hue), 100%, 50%);

  --action-background-color: hsl(var(--base-hue), 18%, 96%);
  --action-background-color-hover: hsl(var(--base-hue), 18%, 92%);
  --action-background-color-selected: hsl(var(--base-hue), 18%, 88%);
  --action-border-radius: 8px;
  --action-border-width: 1px;
  --action-border-type: solid;
  --action-border-color: transparent;
  --action-border-color-hover: hsl(var(--base-hue), 100%, 70%);
  --action-text-color: hsl(var(--base-hue), 3%, 35%);
  --action-outline-color: var(--action-border-color-hover);
  --action-outline-width: 1px;
  --action-outline: var(--action-outline-width) auto var(--action-outline-color);

  --box-border-color: hsl(var(--base-hue) 13.5% 91.47%);
  --box-border: 1px solid var(--box-border-color);

  --text-color-primary: hsl(var(--base-hue), 20%, 5%);
  --text-color-secondary: hsl(var(--base-hue), 5%, 55%);
  --text-color-inverted: hsl(var(--base-hue), 5%, 95%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-color-primary);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--base-color);
  text-decoration: inherit;
}

a:hover {
  color: hsl(var(--base-color), 100%, 73%);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  min-width: 100vw;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.1;
  margin: 1.5rem 0 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1.5rem 0 0.5rem;
}

button {
  border-radius: var(--action-border-radius);
  border: var(--action-border-width) var(--action-border-type)
    var(--action-border-color);
  background-color: var(--action-background-color);
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--action-border-color-hover);
}
button:focus,
button:focus-visible {
  outline: var(--action-outline);
}

label {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s;
}
