:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #0a0c0f;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --action-background: hsl(220, 18%, 98%);
  --action-border-radius: 8px;
  --action-border-width: 1px;
  --action-border-type: solid;
  --action-border-color: hsl(0deg 13.5% 91.47%);
  --action-border-color-hover: #646cff;
  --action-outline: 4px auto --action-border-color-hover;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  min-width: 100vw;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.1;
  margin: 1.5rem 0 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1.5rem 0 0.5rem;
}

button {
  border-radius: var(--action-border-radius);
  border: var(--action-border-width) var(--action-border-type)
    var(--action-border-color);
  background-color: var(--action-background);
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--action-border-color-hover);
}
button:focus,
button:focus-visible {
  outline: var(--action-outline);
}
